@tailwind base;
@tailwind components;
@tailwind utilities;

.data-\[active\=true\]\:font-semibold[data-active=true] {
    @apply border-b-2 border-orange-600
}

.class-player-layout {
    grid-template-columns: 2fr 1fr;
}

.class-btn-bg {
    color: white;
    background: rgb(28, 49, 102);
    background: linear-gradient(180deg, rgba(28, 49, 102, 1) 0%, rgba(9, 92, 121, 1) 50%);
}

.class-list-bg {
    color: white;
    background: rgb(235, 7, 99);
    background: linear-gradient(180deg, rgba(235, 7, 99, 1) 0%, rgba(121, 9, 79, 1) 50%);
}

@media screen and (max-width : 600px) {
    .class-player-layout {
        grid-template-columns: 1fr;
    }
}